.Works_Section {
  max-width: 1500px;
  margin: 50px auto;
  padding: 0 1.2%;

  div:focus {
    outline: 0;
  }
}

.Works_Title {
  font-size: 50px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: #0006ff;
}

.slider-for {
  width: 100%;
  margin: 0 auto;
  background: #eaf6ff;
  padding: 50px 0;
}

.page_anchor {
  width: 50%;
  display: block;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.largeTitle {
  text-align: center;
  font-size: 30px;
  color: #0006ff;
  margin-top: 20px;
}

.slideWide {
    width: 200px;
    height: 20px;
    border: 1px solid red;
  }



.slider-nav {
  overflow: hidden;
  border: 1px solid aqua;
  margin: 0 auto;
  margin-top: 50px ;
  width: 80%;
  position: relative;

  & > button {
    cursor: pointer;
    background: #f2f2f2;
    border: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    color: transparent;

    &:after,
    &:before {
      content: '';
      position: absolute;
      background: #0006ff;
      top:10px;
      left:10px;
      border-radius: 2px;
    }

    &:after {
      width: 3px;
      height: 15px;
    }
    &:before {
      width: 15px;
      height: 3px;
    }
  }

  > button[aria-label="Previous"] {
    margin-right: 5%;
    float: left;
    left: 0;
    transform: rotate(-45deg);
  }
  > button[aria-label="Next"] {
    margin-left: 5%;
    float: right;
    right: 0;
    transform: rotate(135deg);
  }

  .draggable {
    border: 1px solid yellow;
    width: 80%;
    margin: 20px auto;
    height: 250px;

    .slick-track {
      height: 250px;
      overflow: hidden;

      img {
        width: 100%;
      }

      .slick-slide {
        border: 5px solid white;
        box-shadow: 1px 1px 15px rgba(0,0,0,.1);
        margin: 15px 15px;
        position: relative;
        cursor: pointer;

        &:hover > .smallTitle{
          opacity: 1;
        }
      }
    }
  }
}

.smallTitle {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: #0006ff;
  }
}

.slide-vertical {
  // not work
  //width: 300px;
  height: 100px;
  margin: 0 20px;
  border: 1px solid chocolate;
}

.slick-dots {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;

  > li{
    float: left;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height:  20px;
    button {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #eaf6ff;
      border:none;
    }
  }
}