.Works_Section {
  max-width: 1500px;
  margin: 50px auto;
  padding: 0 1.2%;

  div:focus {
    outline: 0;
  }
}

.Works_Title {
  font-size: 50px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: #0006ff;
}

.Works_subTitle {
  margin: 15px 0 20px 0;
  font-size: 30px;
  text-align: center;
}

.slider-for {
  width: 100%;
  margin: 0 auto;
  background: #f5f8fa;
  padding: 50px 0;
}

.page_anchor {
  width: 40%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  border: 15px solid white;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);

  img {
    width: 100%;
  }
}

.largeTitle {
  text-align: center;
  font-size: 30px;
  color: #0006ff;
  margin-top: 20px;
}

.dataSubTit {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #888;
}

.dataContribution_wrap {
  width: 50%;
  margin: 50px auto 0 auto;
}

.__data_contribution{
  display: flex;
  justify-content: center;
}

.data_contribution {
  height: 80px;
  overflow: hidden;

  > p {
    width: 33%;
    float: left;
    text-align: center;
  }

  span, strong {
    display: block;
  }

  span {
    color: #999;
    position: relative;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;

    @mixin graph() {
      display: block;
      border-radius: 15px;
    }

    .g_back {
      @include graph;
      position: relative;
      top: -33px;
      left: 15%;
      background-color: #FFF;
      width: 70%;
      height: 15px;
    }

    .graph {
      @include graph;
      position: absolute;
      top:0;
      left:0;
      background-color: #0d90ff;
      width: 70%;
      height: 100%;
    }
  }

  strong {
    color: #4d4fff;
  }
}

.desc_brwz_wrap {
  overflow: hidden;
  margin-top: 20px;

   > p, div{
    width: 45%;
    height: 100px;
   }

  > p {
    float: left;
  }
  > div {
    float: right;
    border-radius: 15px;
    background: #FFF;
  }
}

.__desc_brwz_wrap{
  display: flex;
  justify-content: center;
}

@mixin dt_desc() {
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    padding: 0 1%;
    color: #666;
}

.data_desc{
  @include dt_desc();
}

.__data_desc {
  @include dt_desc();
  float: none!important;
  text-align: center;
}

.browzer {
  text-align: center;
  color: #4d4fff;
  padding: 10px 0;
  box-sizing: border-box;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 10px auto 0 auto;

    li {
      font-family: 'Roboto', sans-serif;
      width: 22%;
      height: 40px;
      background-color: #ccc;
      color: #FFF;
      line-height: 2.5;
      border-radius: 10px;
    }
  }
}


// ==== slick
.slideWide {
    width: 200px;
    height: 20px;
    border: 1px solid red;
  }



.slider-nav {
  overflow: hidden;
  //border: 1px solid aqua;
  margin: 0 auto;
  margin-top: 50px ;
  width: 80%;
  position: relative;

  & > button {
    cursor: pointer;
    background: #f2f2f2;
    border: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    color: transparent;

    &:after,
    &:before {
      content: '';
      position: absolute;
      background: #0006ff;
      top:10px;
      left:10px;
      border-radius: 2px;
    }

    &:after {
      width: 3px;
      height: 15px;
    }
    &:before {
      width: 15px;
      height: 3px;
    }
  }

  > button[aria-label="Previous"] {
    margin-right: 5%;
    float: left;
    left: 0;
    transform: rotate(-45deg);
  }
  > button[aria-label="Next"] {
    margin-left: 5%;
    float: right;
    right: 0;
    transform: rotate(135deg);
  }

  .draggable {
    //border: 1px solid yellow;
    width: 80%;
    margin: 20px auto;
    height: 250px;

    .slick-track {
      //height: 250px;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
      }

      .slick-slide {
        border: 5px solid white;
        box-shadow: 1px 1px 15px rgba(0,0,0,.1);
        margin: 15px 15px;
        position: relative;
        cursor: pointer;

        &:hover > .smallTitle{
          opacity: 1;
        }
      }
    }
  }
}



.smallTitle {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: table-cell;
    line-height: 1.5;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: #0006ff;
  }
}

.slide-vertical {
  // not work
  height: 100px;
  margin: 0 20px;
  //border: 1px solid chocolate;
}

.slick-dots {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 0;

  > li{
    float: left;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height:  20px;

    button {
      width: 12px;
      height: 12px;
      font-size: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #eaf6ff;
      border:none;
    }


  }
}

.slick-active {
  > button {
    background-color: #999!important;
  }
}