
// 768 ~ 1024px
@media (max-width: 1024px) {
  body {
    //background: lightgoldenrodyellow;
  }

  $side: 2.34%;
  $gutt: 1.56%;
  $gird: 6.51%;
  $imgHeight: 364px;
  $tit_width: 300px;

  header {
    h3 {
      width: $gird;
      margin-left: $side;
      margin-right: $gutt;
    }
  }

  .gubWrap {
    width: 79.16%;

    .head_gnb {
      width: 360px;

      li {
        font-size: 25px;
        width: 174px;
      }
    }
  }

  .lan {
    margin-top:15px;
    margin-left: $gutt;
    width: $gird;
    height: 30px;
  }

  .lan_en,
  .lan_kr{
    line-height: 2.4;
    font-size: 12px;
  }

  $loc: 10%;
  .lan_en{
    left: $loc;
  }
  .lan_kr{
    right: $loc;
  }

  .slider {
    border-radius: 50%;
  }

  .phrase {
    font-size: 3.5em;
    span {
      line-height: 1.2;
    }
  }

  .quote_descript {
    font-size: 0.8em;
  }

  // work
  h3.worksTit {
    font-size: 40px;

    p {
      &:last-child {
        span {
          &:before {
            left: -100px;
            width: 10px;
            height: 10px;
          }
          &:after {
            left: -80px;
            width: 70px;
            height: 3px;
          }

        }
      }

    }
  }

  .workdiv {
    margin-bottom: 50px;
  }

  .work_title {
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .sub_title{
    font-size: 20px;
    margin-bottom: 40px;
  }

  .contribution_wrap{
    height: 60px;
  }

  .contribution {
    font-size: 12px;

    > span {
      .graph_back {
        height: 7px;
        top: 22px;
        left: 8px;
      }

      i {
        top: 0;
        left: 0;
      }
    }

    .crossbrwz {
      .crossbrwz_list {
        height: 15px;
        font-size: 8px;
        line-height: 1.9;
        top: 20px;
      }
    }

  }


  .viewMore{
    width: 298px;
    height: 65px;

    .viewButton {
      line-height: 65px;
      font-size: 28px;
    }
  }




  .workLists {
    li {

      > .work_cont {
        //width:25.41%;
        height: $imgHeight;

        > a,
        > p {
          width: $tit_width;
        }


      }
    }

    .imgAnchor {
      width: 100%;
      height: $imgHeight;
    }
  }

  .work_cont {
    p {
      font-size: 10px;
    }
  }



  // about

  .profile_img {
    height: 480px;
  }

  .profile_name {
    strong{
      font-size: 50px;
    }
    small {
      font-size: 34px;
      margin-top: 7px;
      &:before,
      &:after{
        bottom: 10px;
      }
      &:before {
        right: 185px;
        width: 8px;
        height: 8px;
      }
      &:after {
        height: 2px;
      }
    }
  }

  $mgLeft: 18.06%;
  .desc {
    width: 47.60%;

    p {
      &.Intro {
        font-size: 25px;
      }
    }

    .career {
      font-size: 10px;
      margin-top: 15px;
    }

  }


  // footer
  footer {

    > div {
      width: 27.79%;
      margin-right: $gutt;

      &:first-child {
        margin-left: $mgLeft
      }

      h5 {
        font-size: 27px;
        margin-bottom: 40px;
      }

      p {
        > strong {
          font-size: 23px;
          margin-bottom: 15px;
        }

        > span {
          font-size: 15px;
          margin-bottom: 5px;

          > a {
            font-size: 15px;
          }
        }
      }
    }
  }

  .sns p a{
    font-size: 14px;
  }


  // viewPage
  .slider-nav {
    .draggable {
      height: 170px;
      width: 76%;

      .slick-track {
        .slick-slide {
          border: 3px solid white;
          margin: 15px 8px;
        }
      }
    }
  }

  .data_contribution {
    height: 80px;
    overflow: hidden;
    > p {
      width: 33%;
      float: left;
      text-align: center;
    }

    span, strong {
      display: block;
    }

    span {
      .g_back {
        height: 12px;
      }
    }
  }

  .page_anchor {
    width: 50%;
  }

  .dataContribution_wrap {
    width: 58%;
  }

  .data_desc,
  .__data_desc {
    font-size: 12px;
  }

  .browzer {
    ul {
      li {
        font-size: 12px;
        line-height: 2.5;
        height: 30px;
      }
    }
  }


  .smallTitle {
    span {
      font-size: 20px;
    }
  }

  // media end
}