
// 375 ~ 768px
@media (max-width: 768px) {
  body {
    //background: #97E8A2
  }

  $mar: 2.34%;
  $gutt: 1.56%;
  $grid: 6.51%;

  // header

  header {
    h3 {
      width: $grid;
      margin-left: $mar;
      margin-right: $gutt;
    }
  }

  .slider {
    width:60%;
  }

  // works
  h3.worksTit {
  }
  .work_title {
    font-size: 32px;
  }



  .workLists {
    li {
      width: 47%;

      &:last-child {
        display: none;
      }
      > .work_cont {
          width: 0;
        > a,
        > p {
          width: 0;
        }
      }
    }

    .imgAnchor {
      width: 100%;
    }

  }

  // about
  .profile {
    width: 70%;
  }

  .desc {
    margin-left: 14.6%
  }

  $mgLeft: 18.06%;
  // footer
  footer {
    height: 300px;

    > div {
      width: 27.79%;
      margin-right: $gutt;

      &:first-child {
        margin-left: 14.6%;
      }

      h5 {
        font-size: 25px;
        margin-bottom: 40px;
      }

      p {
        > strong {
          font-size: 17px;
          margin-bottom: 15px;
        }

        > span {
          font-size: 12px;
          margin-bottom: 5px;

          > a {
            font-size: 12px;
          }
        }
      }
    }
  }

  .sns p a{
    font-size: 12px;
  }
}