// 0 ~ 375px

@media (max-width: 375px) {

  body {
    //background: #12846e;
  }

  $mar: 3.46%;
  $gutt: 2.66%;
  $grid : 21.6%;

  // header
// 30px;
  header {
  h3 {
    width: $grid;
    margin-left: $mar;
    margin-right: $gutt;
    height: 30px;
  }
}

  .gubWrap {
  width: 45.6%;

    .head_gnb {
      width: 171px;
      margin: 0 auto;

      li {
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        width: 81px;
        margin-top: 0;

        &.on {
          &:after{
            width: 6px;
            height:  6px;
            //bottom: -5px;
            //left: 50%;
            //margin-left: -5px;
          }
        }
      }
    }
  }

  .lan {
    float:right;
    margin-right: $mar;
    margin-top: 5px;
    width: 5.33%;
    height: 20px;
  }

  .slider {
    width: 100%;
    margin-left: 0;
  }

  .lanCheck {
    &:checked + .slider {
      margin-left: 0;
    }
  }


  .cube {
    p {
      font-size: 18px;
    }
  }




  .top {
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: 20px;

    span {
      line-height: 30px;
      font-size: 13px;
    }
  }

  // works
  h3.worksTit {
    font-size: 25px;
    margin-bottom: 25px;

    p {
      &:last-child {
        span {
          &:before,
          &:after {
            bottom: 5px
          }
          &:before {
            left: -80px;
            width: 5px;
            height: 5px;
          }
          &:after {
            left: -70px;
            width: 65px;
            height: 2px;
          }

        }
      }
    }
  }

  .work_title {
    font-size: 25px;
  }

  .viewMore{
    width: 193px;
    height: 42px;
    //border-radius: 12px;

    .viewButton {
      line-height: 42px;
      font-size: 22px;
    }
  }

  .workLists {
    flex-direction: column;
    margin-bottom: 0;
    li {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        display: block;
      }

      > .work_cont {
        p {
          display: none;
        }
      }
    }

    .imgAnchor {
      width: 100%;
    }
  }

  // about
  .profile {
    width: 93.08%;
  }

  .profile_img {
    height: 350px;
  }

  .profile_name {
    width: 90%;
    right: 0;
    //bottom: -48px;
    bottom: -88px;
    text-align: right;

    strong{
      font-size: 40px;
      width: 100%;
    }
    small {
      font-size: 29px;
      margin-top: 3px;

      &:before,
      &:after{
        bottom: -55px
      }
      &:before {
        bottom: -75px;
        right: -3px;
      }
      &:after {
        right: 0;
        width: 3px;
        height: 45px;
      }
    }
  }

  .desc {
    margin-left: $mar;
    width: 80%;
    margin-top: 80px;

    p {
      font-size: 13px;
      width: 100%;

      &.Intro {
        font-size: 25px;
        //margin-bottom: 20px;
      }
    }
  }

  // footer
  footer {
  height: 250px;
  padding-top: 60px;

  > div {
    width: 45.3%;
    margin-right: $gutt;

    &:first-child {
      margin-left: $mar;
    }

    h5 {
      //font-size: 40px;
      margin-bottom: 30px;
    }
  }
}


  // media end
}