// 0 ~ 375px

@media (max-width: 375px) {

  body {
    //background: #12846e;
  }

  $mar: 3.46%;
  $gutt: 2.66%;
  $grid : 21.6%;

  // header
// 30px;
  header {
  h3 {
    width: $grid;
    margin-left: $mar;
    margin-right: $gutt;
    height: 30px;
  }
}

  .gubWrap {
  width: 45.6%;

    .head_gnb {
      width: 171px;
      margin: 0 auto;

      li {
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        width: 81px;
        margin-top: 0;

        &.on {
          &:after{
            width: 6px;
            height:  6px;
            //bottom: -5px;
            //left: 50%;
            //margin-left: -5px;
          }
        }
      }
    }
  }

  .lan {
    float:right;
    margin-right: $mar;
    margin-top: 5px;
    width: 5.33%;
    height: 20px;
  }

  .slider {
    width: 100%;
    margin-left: 0;
  }

  .lanCheck {
    &:checked + .slider {
      margin-left: 0;
    }
  }


  .cube {
    p {
      font-size: 18px;
    }
  }




  .top {
    width: 30px;
    height: 30px;
    bottom: 20px;
    left: 20px;

    span {
      line-height: 30px;
      font-size: 13px;
    }
  }

  // works
  h3.worksTit {
    font-size: 25px;
    margin-bottom: 25px;

    p {
      &:last-child {
        span {
          &:before,
          &:after {
            bottom: 5px
          }
          &:before {
            left: -80px;
            width: 5px;
            height: 5px;
          }
          &:after {
            left: -70px;
            width: 65px;
            height: 2px;
          }

        }
      }
    }
  }

  .work_title {
    font-size: 25px;
  }

  .viewMore{
    width: 193px;
    height: 42px;
    //border-radius: 12px;

    .viewButton {
      line-height: 42px;
      font-size: 22px;
    }
  }

  .workLists {
    flex-direction: column;
    margin-bottom: 0;
    li {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        display: block;
      }

      > .work_cont {
        p {
          display: none;
        }
      }
    }

    .imgAnchor {
      width: 100%;
    }
  }

  // about
  .profile {
    width: 93.08%;
  }

  .profile_img {
    height: 350px;
  }

  .profile_name {
    width: 90%;
    right: 5%;
    bottom: -20px;
    text-align: right;

    strong{
      font-size: 40px;
      width: 100%;
    }
    small {
      font-size: 29px;
      margin-top: 3px;

      &:before,
      &:after{
        bottom: -55px
      }
      &:before {
        bottom: 5px;
        right: 85px;
        width: 5px;
        height: 5px;
      }
      &:after {
        display: none;
      }
    }
  }

  .desc {
    width: 80%;

    p {
      width: 100%;

      &.Intro {
        font-size: 20px;
      }
    }

    .career {
      font-size: 8px;
      margin-top: 12px;
    }
  }

  // footer
  footer {
  height: 250px;
  padding-top: 60px;

  > div {
    width: 45.3%;
    margin-right: $gutt;

    &:first-child {
      margin-left: $mar;
    }

    h5 {
      //font-size: 40px;
      margin-bottom: 30px;
    }
  }
}

  // viewPage

  .Works_Section{
    margin: 20px auto;
  }

  .Works_Title {
    font-size: 40px;
    height: 70px;
    line-height: 70px;
  }

  .Works_subTitle {
    margin: 0px 0 20px;
    font-size: 20px;
  }

  .slider-for {
    padding: 20px 0;
  }

  .page_anchor {
    width: 80%;
    border: 8px solid #fff;
    border-radius: 10px;
  }

  .dataContribution_wrap {
    width: 90%;
    margin-top: 30px;
  }

  .data_contribution {
    height: 50px;


    span {
      font-size: 10px;

      .g_back {
        top: -28px;
        height: 10px;
      }
    }

    strong {
      font-size: 12px;
    }
  }


  .data_desc,
  .__data_desc {
    font-size: 10px;
  }

  .browzer {
    ul {
      margin-top: 20px;
      li {
        font-size: 8px;
        line-height: 2;
        height: 20px;
        width: 30px;
      }
    }
  }


  // slick

  .slider-nav {
    overflow: visible;
    margin-top: 20px;


      > button[aria-label="Previous"] {
        //margin-right: 5%;
        left: -25px;
        //transform: rotate(-45deg);
      }
      > button[aria-label="Next"] {
        //margin-left: 5%;
        right: -25px;
      }

    .draggable {
        height: 70px;
        width: 50%;
        display: none;
      }
  }

  .smallTitle {
    span {
      font-size: 15px;
    }
  }


// media end
}