
// 1024 ~ 1366px
@media (max-width: 1366px) {
  body {
    background: pink
  }


  $mar : 2.05%;
  $gutt : 1.36%;
  $imgHeight: 422px;


  // header
  header {
    h3 {
      width: 6.73%;
      margin-left: $mar;
      margin-right: $gutt;
    }
  }

  .gubWrap {
    width: 79.6%;

    .head_gnb {
      width: 318px;

      li {
        font-size: 25px;
        width: 152px;
        height: 50px;
        line-height: 50px;
        margin-top: 8px;
      }

      &.on {
        &:after{
          width: 8px;
          height:  8px;
          bottom: -5px;
        }
      }

      .lan {
        margin-left: $gutt;
        margin-right: $mar;
        width: 6.73%;
      }
    }
  }

  // work
  h3.worksTit {
    font-size: 50px;

    p {
      text-align: right;
      padding-right: $mar;
    }
  }

  .work_title {
    font-size: 35px;
  }


  .viewMore{
    width: 400px;
    height: 80px;

    .viewButton {
      line-height: 80px;
      font-size: 32px;
    }
  }


  .workLists {
    li {
      margin: 0 $mar;
      margin-bottom: 69px;
      width: 95.9%;

      > .work_cont {
        width: 33.81%;
      height: $imgHeight;
      }
    }

  }

  .imgAnchor {
    width: 66.19%;
    height: $imgHeight;
  }

  // about

  $mglft: 18.26%;
  .profile {
    margin-left: $mglft;
    width: 71.58%;
  }

  .profile_img {
    width: 88.67%;
    height: 700px;
  }

  .profile_name {
    width: 426px;

    strong{
      font-size: 70px;
    }
    small {
      font-size: 34px;
    }
  }

  .desc {
    margin-left: $mglft;
  }

  // footer
  footer {

    > div {
      width: 23.144%;
      margin-right: $gutt;

      &:first-child {
        margin-left: $mglft
      }

      h5 {
        font-size: 30px;
        margin-bottom: 35px;
      }

      p {
        > strong {
          font-size: 20px;
          margin-bottom: 15px;
        }

        > span {
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .sns p a{
    font-size: 15px;
  }

}