
// 1366px ~ 1920px
@media all and (max-width: 1920px) {


  body {
    //background-color: #ccc;
  }

// header
  header {
    h3 {
      width: 6.88%;
      margin-left: 1.9%;
      margin-right: 1.31%
    }
  }

  .gubWrap {
    width: 79.7%;

    .head_gnb {
      width: 428px;

      li {
        width: 206px;
      }
    }
  }

  .lan {
    margin-left: 1.31%;
    margin-right: 1.9%;
    width: 6.8%;
  }

// works
  h3.worksTit {
  font-size: 70px;
  p {
    padding-right: 1.6%;
  }
}

  @mixin marg() {
    margin-left: 18.155%;
  }

  .workLists {
    li {
      margin: 0 1.6%;
      margin-bottom: 95px;
      width: 96.8%;
    }
  }

// about
  .profile {
    @include marg();
    width: 71.96%;
  }

  .profile_img {
    height: 740px;
    width: 77.81%
  }

  .desc {
    @include marg();
  }



// footer
  footer {

    > div {
      width: 23.206%;
      margin-right: 1.317%;

      &:first-child {
        margin-left: 18.155%;
      }
    }
  }


  // media end
}