
// 1024 ~ 1366px
@media (max-width: 1366px) {
  body {
    //background: pink
  }


  $mar : 2.05%;
  $gutt : 1.36%;
  $imgHeight: 422px;


  // header
  header {
    h3 {
      width: 6.73%;
      margin-left: $mar;
      margin-right: $gutt;
    }
  }

  .gubWrap {
    width: 79.6%;

    .head_gnb {
      width: 318px;

      li {
        font-size: 25px;
        width: 152px;
        height: 50px;
        line-height: 50px;
        margin-top: 8px;
      }

      &.on {
        &:after{
          width: 8px;
          height:  8px;
          bottom: -5px;
        }
      }
    }
  }

  .lan {
    margin-left: $gutt;
    //margin-right: $mar;
    width: 6.73%;
  }

  // work
  h3.worksTit {
    font-size: 50px;

    p {
      &:last-child {
        span {
          &:before,
          &:after {
            bottom: 10px;
          }
          &:before {
            left: -100px;
            width: 11px;
            height: 11px;
          }
          &:after {
            left: -80px;
            width: 70px;
            height: 4px;
          }

        }
      }
    }
  }


  .viewMore{
    width: 400px;
    height: 80px;

    .viewButton {
      line-height: 80px;
      font-size: 32px;
    }
  }


  .workLists {
    li {
      > .work_cont {
        width: 33.81%;
      height: $imgHeight;
      }
    }
  }

  .work_title {
    font-size: 30px;
    margin-top: 40px;
  }

  .contribution_wrap {
    height: 80px;
  }

  .contribution {
    font-size: 15px;

    > span {
      .graph_back {
        height: 10px;
        top: 25px;
        left: 12px;
      }
    }
  }

  .imgAnchor {
    width: 100%;
    height: $imgHeight;
  }


  .work_cont {
    .workNum {
      font-size: 45px;
    }
  }

  // about

  $mglft: 18.26%;
  .profile_img {
    height: 700px;
  }

  .profile_name {
    strong{
      font-size: 70px;
    }
    small {
      font-size: 34px;
      &:before,
      &:after{
        bottom: 10px;
      }
      &:before {
        right: 190px;
        width: 9px;
        height: 9px;
      }
      &:after {
        right: 105px;
        width: 72px;
        height: 3px;
      }
    }
  }

  // footer
  footer {

    > div {
      width: 23.144%;
      margin-right: $gutt;

      &:first-child {
        margin-left: $mglft
      }

      h5 {
        font-size: 30px;
        margin-bottom: 35px;
      }

      p {
        > strong {
          font-size: 20px;
          margin-bottom: 15px;
        }

        > span {
          font-size: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .sns p a{
    font-size: 15px;
  }


  // viewPage
  .slider-nav {
    .draggable {
      height: 220px;
    }
  }
}