section
    h2(class="pageSection no-drag") AboutAboutAboutAboutAboutAboutAboutAbout


    div(class="profile_div")
        article(class="profile")
            div(class="profile_img")
            div(class="profile_name")
                strong Jaeeun Jung
                small Jenny
        div(class="desc")
            p(class="Intro") Frontend Developer
            p Hi, I'm Jenny and.. blahblahblah
            p working(add new pages by using js framework), career,
