section(id="about")
    div(class="aboutBackDiv")
        h4(class="pageSection no-drag aboutback") AboutAboutAboutAboutAboutAboutAboutAboutAboutAbout


    div(class="profile_div")

        article(class="profile")
            div(class="profile_img")
            div(class="profile_name")
                strong Jaeeun Jung
                small Jenny

            div(class="desc")
                p(class="Intro") Frontend Developer
                p(class="Intro") & Web Designer
                div(class="career")
                    p Bachelor of Fine Arts, Fine Painting <br />Sungshin Women’s University _ 2014<br />I was attracted by totally different areas <br />by learning code and saw prospects in this field. <br />I found a similarity <br />between the drawing line when painting  and the writing code, <br />feel rewarded from figuring out the answer to an error. <br />

