section(class="red")
    h2(class="pageSection no-drag") AboutAboutAboutAboutAboutAboutAboutAbout


    div
        div(class="profile_img")
        div(class="profile_name")
            strong Jaeeun Jung
            small Jenny
        div
            p Hi, I'm Jenny and.. blahblahblah
            p working(add new pages by using js framework), career,
