div(class="blue workdiv cf")
    h3(class="worksTit")
        p
            span Work
        p
            span Animation
    ul(class="workLists")
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 01
                        h5(class="work_title") CSS Animation
                        strong(class="sub_title") Pigi Bank

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        //strong(class="sub_title") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 02
                        h5(class="work_title") CSS Animation
                        strong(class="sub_title") Scratch

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        //strong(class="sub_title") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 03
                        h5(class="work_title") CSS Animation
                        strong(class="sub_title") Moving mesh

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        //strong(class="sub_title") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
    
    div(class="viewMore")
        a(href="/viewPage.html#2#Css Animation" class="viewButton") VIEW MORE