div(class="blue workdiv cf")
    h3(class="worksTit")
        p
            span Work
        p
            span Animation
    ul(class="workLists")
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
            div(class="work_cont")
                a(href="/")
                    strong(class="work_title") css animation1
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
            div(class="work_cont")
                a(href="/")
                    strong(class="work_title") css animation2
        //li
        //    a(href="/")
        //        div(class="imageSect")
        //        strong(class="work_title") css animation3
    
    div(class="viewMore")
        a(href="/viewPage.html#2" class="viewButton") VIEW MORE