div(class="blue")
    |Animation works
    ul
        li 
            a(href="/") css animation1
        li 
            a(href="/") css animation2
        li 
            a(href="/") css animation3
        li 
            a(href="/") css animation4
    
    div 
        a(href="/") SEE MORE