div(class="blue workdiv cf")
    h3(class="worksTit")
        p
            span Work
        p
            span C4D
    ul(class="workLists")
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 01
                        h5(class="work_title") C4D
                        strong(class="sub_title") Ball Cloth

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        //strong(class="sub_title") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 02
                        h5(class="work_title") C4D
                        strong(class="sub_title") Clothing

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        //strong(class="sub_title") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 03
                        h5(class="work_title") C4D
                        strong(class="sub_title") Skull

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        //strong(class="sub_title") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design

    div(class="viewMore")
        a(href="/viewPage.html#1#C4D Work" class="viewButton") VIEW MORE