div(class="blue workdiv cf")
    h3(class="worksTit")
        p
            span Work
        p
            span C4D
    ul(class="workLists")
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
            div(class="work_cont")
                a(href="/")
                    strong(class="work_title") c4d 1
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
            div(class="work_cont")
                a(href="/")
                    strong(class="work_title") c4d 2
        //li
        //    a(href="/")
        //        div(class="imageSect")
        //        strong(class="work_title") c4d 3

    div(class="viewMore")
        a(href="/" class="viewButton") VIEW MORE