section(class="footer")
    footer(class="cf")
        div(class="contact")
            h5 Contact
            p
                strong Email
                span
                    a(href="mailto:qcumber.kr@gmail.com") qcumber.kr@gmail.com
            p
                strong Phone
                span KOR +82) 10 - 2207 - 4753
                span AUS +72) 10 - 2207 - 4753
        div(class="sns")
            h5 SNS
            p
                a(href="/") github
                a(href="/") @p___ckle
                a(href="/") linkedIn

