section(class="red" id="header")
    div(class="Three_background" id="Three_background")
        span(class="_skip") background

    header(class="cf")
        h3(class="flt_lft")
            a(href="/" )
                span(class="_skip") HOME
                //img(src="images/logo_03.png")

        div(class="flt_lft gubWrap")
            ul(class="head_gnb cf")
                li(class="on")
                    a(href="#works") WORK

                li
                    a(href="#about") ABOUT

        div(class="flt_lft lan")
            label(for="language" class="lanBack")
            input(type="checkbox" id="language" checked=true class="lanCheck")


    div(class="top no-drag")
        span TOP




    article(class="red quote" style="margin-top: 150px; text-align: center; color: #0006ff")
        p Your work will be in another level