section(id="header")
    div(class="Three_background" id="Three_background")
        span(class="_skip") background

    header(class="cf" id="header_menu")
        h3(class="flt_lft")
            a(href="/" )
                span(class="_skip") HOME
        div(class="flt_lft gubWrap")
            ul(class="head_gnb cf" id="head_gnb")
                li
                    a(href="#works") WORK

                li
                    a(href="#about") ABOUT

        div(class="flt_lft lan")
            label(for="language" class="lanBack")
                input(type="checkbox" id="language" checked=true class="lanCheck")
                span(class="slider") E/K
                i(class="lan_en") Eng
                i(class="lan_kr") Kor

    article(class="quote")
        h5(class="phrase")
            span Build Your <br />
            span Quality.
        p(class="quote_descript") What would you think<br />if  you can handle all your code at once_?


    div(class="top no-drag" id="top")
        span TOP