section(id="header")
    div(class="Three_background" id="Three_background")
        span(class="_skip") background

    header(class="cf")
        h3(class="flt_lft")
            a(href="/" )
                span(class="_skip") HOME
                //img(src="images/logo_03.png")

        div(class="flt_lft gubWrap")
            ul(class="head_gnb cf")
                li(class="on")
                    a(href="#works") WORK

                li
                    a(href="#about") ABOUT

        div(class="flt_lft lan")
            label(for="language" class="lanBack")
                input(type="checkbox" id="language" checked=true class="lanCheck")
                span(class="slider")


    article(class="quote")
        div(class="cube")
            p(class="side front_") Your work will be in another level
            p(class="side back_") Modify your quality
            p(class="side top_") No longer stress/
            p(class="side bottom_") How About Neo-Function/


    div(class="top no-drag" id="top")
        span TOP