div(class="Three_background")
    span(class="_skip") background

header(class="red")
    h3
        a(href="/") HOME

    ul(class="blue head_gnb cf")
        li
            a(href="/") WORK

        li
            a(href="/") ABOUT

        li
            a(href="/") language
