div(class="Three_background")
    span(class="_skip") background

h3
    a(href="/") HOME

ul(class="red head_gnb cf")
    li 
        a(href="/") WORK

    li 
        a(href="/") ABOUT

    li 
        a(href="/") language
