section(class="red" id="header")
    div(class="Three_background")
        span(class="_skip") background

    header(class="cf")
        h3(class="flt_lft")
            a(href="/" style="display: block; background-color: red; width: 66px; height: 66px")
                span(class="_skip") HOME
                //img(src="images/logo_03.png")

        div(class="flt_lft gubWrap")
            ul(class="head_gnb cf")
                li(class="on")
                    a(href="/") WORK

                li
                    a(href="/") ABOUT

        div(class="flt_lft lan")
            a(href="/") language



    div(class="top no-drag")
        span TOP




    article(class="red" style="margin-top: 150px; text-align: center; color: #0006ff")
        p Your work will be in another level