div(class="blue workdiv cf")
    h3(class="worksTit")
        p
            span Work
        p
            span web
    ul(class="workLists")
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 01
                        h5(class="work_title") Responsive Web
                        strong(class="sub_title") ㅇㅇ..

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        //strong(class="contributuin") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
                                strong(class="crossbrwz") crowssbrowsng
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 02
                        h5(class="work_title") Mobile
                        strong(class="sub_title") ㅇㅇ..

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
                                strong(class="crossbrwz") crowssbrowsng
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 03
                        h5(class="work_title") Mobile
                        strong(class="sub_title") ㅇㅇ..

                        strong(class="desc_title") Description
                        p this is about... blah blah

                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                span(class="designed") design
                                strong(class="crossbrwz") crowssbrowsng

    div(class="viewMore")
        a(href="/viewPage.html#0#Web Page" class="viewButton") VIEW MORE

