div(class="blue")
    |Page works
    ul
        li 
            a(href="/") 
                strong Responsive Web
                p this is about... blah blah
                
        li 
            a(href="/") 
                strong Mobile
                p this is about... blah blah
        li 
            a(href="/") 
                strong HTML 5
                p this is about... blah blah
        li 
            a(href="/") 
                strong HTML 5
                p this is about... blah blah
    
    div 
        a(href="/") SEE MORE