div(class="blue workdiv cf")
    h3(class="worksTit")
        p Work
        p web
    ul(class="workLists")
        li 
            a(href="/" class="imgAnchor")
                div(class="imageSect")
            div(class="work_cont")
                a(href="/")
                    strong(class="work_title") Responsive Web
                    p this is about... blah blah
        li
            div(class="work_cont")
                a(href="/")
                    strong(class="work_title") Mobile
                    p this is about... blah blah
            a(href="/" class="imgAnchor")
                div(class="imageSect")
        //li
        //    a(href="/")
        //        div(class="imageSect")
        //        strong(class="work_title") HTML 5
        //        p this is about... blah blah
    
    div(class="viewMore")
        a(href="/" class="viewButton") VIEW MORE