div(class="blue workdiv cf")
    h3(class="worksTit")
        p
            span Work
        p
            span web
    ul(class="workLists")
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 01
                        h5(class="work_title") React
                        strong(class="sub_title") Mercy Juice

                        strong(class="desc_title") Description
                        p A redesigned 'Mercy Juice' web page by using the 'React' framework.  <br />Proceeded project to live up the product's characteristics.

                        //strong(class="contributuin") ㅇㅇ..
                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                    small(class="graph_back")
                                        i(class="c_graph")
                                span(class="designed") design
                                    small(class="graph_back")
                                        i(class="d_graph")
                                span(class="crossbrwz") crossbrowsing
                                    small(class="crossbrwz_list")
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 02
                        h5(class="work_title") Project
                        strong(class="sub_title") Soripan

                        strong(class="desc_title") Description
                        p This is a group web project for the government officers to investigate poll, collect main keywords, and visualize the result.

                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                    small(class="graph_back")
                                        i(class="c_graph")
                                span(class="designed") design
                                    small(class="graph_back")
                                        i(class="d_graph")
                                span(class="crossbrwz") crossbrowsing
                                    span(class="crossbrwz_list")
        li
            a(href="/" class="imgAnchor")
                div(class="imageSect")
                div(class="work_cont")
                    div
                        span(class="workNum")
                            span 03
                        h5(class="work_title") RESPONSIVE
                        strong(class="sub_title") USIM World

                        strong(class="desc_title") Description
                        p A redesigned 'Usim World' online mall by simplifying needless images, and removing effectless ads.

                        div(class="contribution_wrap")
                            div(class="contribution")
                                span(class="contrib") contribution
                                    small(class="graph_back")
                                        i(class="c_graph")
                                span(class="designed") design
                                    small(class="graph_back")
                                        i(class="d_graph")
                                span(class="crossbrwz") crossbrowsing
                                    span(class="crossbrwz_list")

    div(class="viewMore")
        a(href="/viewPage.html#0#Web Page" class="viewButton") VIEW MORE

