section(id="works")
    div(class="workBackDiv")
        h4(class="pageSection no-drag workback") WorksWorksWorksWorksWorksWorksWorksWorksWorksWorks

    include ./page_work
    include ./animation_work
    include ./c4d_work

