.aboutBackDiv {
  position: relative;
  height: 10em;
  h4 {
    position: absolute;
    top: 0;
    left: 1500px;
  }
}


.profile_div {
  margin: 100px 0;

}

@mixin marg() {
  margin-left: 26.56%;
}

.profile {
  margin: 0 auto;
  position: relative;
  width: 50%;
}

.profile_img {
  background: url("../images/untitled.png") center center / contain no-repeat;
  height: 747px;
  width: 100%;
}

.profile_name {
  position: absolute;
  bottom: 0;
  opacity: 0;
  right: 5%;
  text-align: right;
  width: 486px;
  color: #0006ff;

  @mixin profile($size) {
    font-size: $size;
  }

  strong {
    @include profile(80px);
    display: block;
    width: 500px;
  }
  small {
    @include profile(40px);
    position: relative;

    &:before,
    &:after{
      content: '';
      position: absolute;
      background-color: #0006ff;
      bottom: 10px;
    }
    &:before {
      right: 230px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
    }
    &:after {
      right: 125px;
      width: 92px;
      height: 3px;
    }

  }
}

.desc {
  width: 50%;
  height: 150px;
  position: absolute;
  top: 5%;
  left: 5%;

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    &.Intro {
      color: #0006ff;
      font-size: 30px;
      //margin-bottom: 20px;
      font-family: inherit;
    }
  }

  .career {
    margin-top: 25px;
    font-size: 12px;
    line-height: 1.2;
    color: #888;
    font-family: 'Roboto', sans-serif;
  }

}