.aboutBackDiv {
  position: relative;
  height: 10em;
  h4 {
    position: absolute;
    top: 0;
    left: 1500px;
  }
}


.profile_div {
  margin: 60px 0;

}

@mixin marg() {
  margin-left: 26.56%;
}

.profile {
  @include marg();
  position: relative;
  width: 48.13%;
}

.profile_img {
  background: #f2f2f2;
  height: 747px;
  width: 779px;
}

.profile_name {
  position: absolute;
  bottom: 0;
  opacity: 0;
  //bottom: 60px;
  right: 0;
  width: 486px;
  color: #0006ff;

  @mixin profile($size) {
    //width: 100%;
    font-size: $size;
  }

  strong {
    @include profile(80px);
    display: block;
    width: 500px;
  }
  small {
    @include profile(40px);
    position: relative;

    &:before,
    &:after{
      content: '';
      position: absolute;
      background-color: #0006ff;
      bottom: 10px;
    }
    &:before {
      right: -125px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
    }
    &:after {
      right: -100px;
      width: 92px;
      height: 3px;
    }

  }
}

.desc {
  @include marg();
  margin-top: 40px;
  width: 22.81%;
  height: 150px;

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    &.Intro {
      color: #0006ff;
      font-size: 30px;
      margin-bottom: 20px;
      font-family: inherit;
    }
  }

}