@import url('https://fonts.googleapis.com/css?family=Barlow|Fugaz+One|Jura&display=swap');

.red {
  border: 1px solid red;
}

.blue{
  border: 1px solid #FFF;
}

@font-face {
    font-family:'Athena-Regular';
    font-weight:400;
    src: url('../fonts/Athena-Regular.ttf') format('truetype'),
         url('../fonts/Kocka-PersonalUse.otf') format("opentype");
}

@font-face {
    font-family:'kocka-personal';
    font-weight:400;
    src: url('../fonts/kocka-personaluse-webfont.woff') format('woff'),
         url('../fonts/kocka-personaluse-webfont.woff2') format("woff2");
}

body {
  //font-family: 'Barlow Semi Condensed', sans-serif;
  //font-family: 'Jura', sans-serif;
  //font-weight: bold;

  font-family: 'Fugaz One', cursive;
}

body::-moz-selection {
  background: #0006ff;
  color: #fff;
}
::selection {
  background: #0006ff;
  color: #fff;
}

#wrapper {
  margin:0 auto;
  max-width: 1920px;
  overflow: hidden;
}

//$sectionWord : "section";
//
//#{$sectionWord} {
//  width: 100%;
//  height: 100vh;
//}
//#{$sectionWord}#works {
//  height: auto;
//}

.pageSection {
  width: 100%;
  font-size: 10em;
  color: #f2f2f2;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
}
