
.Three_background {
  quotes: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

header {
  max-width: 1824px;
  margin: 0 auto;
  padding-top: 40px;
}

.head_gnb {
  //margin-left: 24px;
  //width: 1670px;
  width: 85%;
  border: 1px solid orange;

  li {
    float: left;
  }
}

.lan {
  
}

