
// 1366px ~ 1920px
@media (max-width: 1920px) {


body {
  background-color: #ccc;
}

// header
  header {
    h3 {
      width: 6.88%;
      margin-left: 1.9%;
      margin-right: 1.31%
    }
  }

  .gubWrap {
    width: 79.7%;

    .head_gnb {
      width: 428px;

      li {
        width: 206px;
      }
    }
  }

  .lan {
    margin-left: 1.31%;
    margin-right: 1.9%;
    width: 6.88%;
  }

// footer
footer {

  > div {
    width: 23.206%;
    margin-right: 1.317%;

    &:first-child {
      margin-left: 18.155%;
    }
  }
}


  // media end
}