h3.worksTit {
  color: #0006ff;
  font-size: 70px;
  width: 100%;
  margin-top: 60px;

  p {
    text-align: right;
    padding-right: 10.52%;
  }
}

.workdiv {
  margin-bottom: 60px;
}

.work_title {
  font-size: 40px;
  color:#0006ff;
  display: block;
}

.viewMore{
  background: #0006ff;
  width: 438px;
  height: 95px;
  border-radius: 12px;
  margin: 0 auto;

  .viewButton {
    display: block;
    line-height: 95px;
    color: #FFF;
    text-align: center;
    font-size: 40px;
  }
}

$roboto : "'Roboto', sans-serif";

.workLists {
  li {
    margin: 0 10.52%;
    margin-bottom: 130px;
    width: 78.96%;

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    > a {
      float: left;
    }

    > .work_cont {
      float: left;
      position: relative;
      width: 39.05%;
      height: 585px;

      > a {
        position: absolute;
        display: block;
        bottom: 24px;
      }

      p {
        margin-top: 28px;
        font-size: 20px;
        width: 438px;
        text-align: justify;
        font-family: $roboto;
      }
    }
  }
}



@for $i from 1 through 2 {
  @if ($i % 2 == 0) {  // even
    .workLists li:nth-of-type(#{$i}){
      //background: red;

      > .imgAnchor {
        float: right;
      }

      > .work_cont {
        a {
          right: 24px;
          text-align: right;
        }

        p {
          text-align: right;
        }
      }
    }
  }
  @else { // odd
    .workLists li:nth-of-type(#{$i}){
      //background: yellow;

      > .work_cont a {
        left: 24px;
      }
    }
  }

}


.imgAnchor {
  display: block;
  width: 59.366%;
  height: 585px;
  background: #f2f2f2;
}
