@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

@import "_reset";
@import "_basic";
@import "_header";
@import "_works";
@import "_about";
@import "_footer";


$web1366_w: 1920px;
$ipad_pro_w: 1366px;
$ipad_w: 1024px;
$ipad2_w: 768px;
$phone_w: 375px;


@media (max-width: $web1366_w) {
  body{
  background: #d4ebdf
  }
}

@media (max-width: $ipad_pro_w) {
  body {
    background: #97E8D0
  }
}

@media (max-width: $ipad_w) {
  body {
    background: #B3FFD2
  }
}

@media (max-width: $ipad2_w) {
  body {
    background: #97E8A2
  }
}

@media (max-width: $phone_w) {
  body {
    background: pink
  }
}